---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Exploring the realms of computers, and technological wonders.</h2>
</BaseLayout>
